@mixin height-px-width-100($height) {
  height: #{$height}px;
  width: $scale-100;
}
@mixin height-px-width-scale($height, $width) {
  height: #{$height}px;
  width: $width;
}
@mixin height-scale-width-scale-100($height) {
  height: $height;
  width: $scale-100;
}
@mixin height-scale-100-width-px($width) {
  height: $scale-100;
  width: #{$width}px;
}
@mixin height-scale-100-width-scale($width) {
  height: $scale-100;
  width: $width;
}
@mixin height-scale-width-scale($height, $width) {
  height: $height;
  width: $width;
}
@mixin height-width-px($height, $width) {
  height: #{$height}px;
  width: #{$width}px;
}

@mixin height-width-scale-100 {
  height: $scale-100;
  width: $scale-100;
}

@mixin justify-align-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@mixin justify-start-align-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
@mixin justify-space-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@mixin justify-space-between-align-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@mixin column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@mixin justify-end {
  display: flex;
  justify-content: flex-end;
}
@mixin justify-end-align-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@mixin justify-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@mixin column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin align-center {
  display: flex;
  align-items: center;
}
@mixin text-center($lineHeight) {
  text-align: center;
  line-height: #{$lineHeight}px;
}